* {
    box-sizing: border-box;
}

body {
    background-color: burlywood;
}

.defaults{
    font-family:sans-serif;
}
.google{
    font-family: 'Sedgwick Ave Display', cursive;
}

@font-face {
    font-family: 'sponge';
    src: url('spongeboyregular-gx2n6-webfont.woff2') format('woff2'), 
    url('spongeboyregular-gx2n6-webfont.woff') format ('woff');
    font-weight: normal;
    font-style: normal;
}

.squirrel {
    font-family: 'sponge', monospace;
}